.medical-1 {
  align-items: center;
  background-color: var(--dark);
  border-radius: 78px/75px;
  cursor: pointer;
  display: flex;
  height: 150px;
  left: 300px;
  min-width: 156px;
  padding: 0 28px;
  position: absolute;
  top: 176px;
}

.icon-bluetooth {
  height: 100px;
  width: 100px;
}

